@charset "utf-8";

body {
  padding: 0px;
  margin: 0px;
  margin-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}
.tabela{
  background-color: #D6D3D3;
  border:1px solid white;
}

.titulo_tabela{
  background-color: #414144;
  color: white;
}
